

.products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.23);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: rgba(223, 200, 199, 0.8); 
}

.description{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items:flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex:1;
    font-style: italic;
}
.description h4{
    color:black;
}
.description p{
    color:maroon;
    size: 40px;
}